<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestoHunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="container">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">RestoHunt</label>
            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero__effect">
            <div class="hero__inner">
                <h1 class="hero__title">Restaurant Hunter</h1>
                <p class="hero__tagline">Bosan makan malam itu-itu aja? Yuk cari restoran untuk menikmati makan malam anda</p>
            </div>
        </div>
    </div>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
<footer>
    <p>Copyright © 2020 - RestoHunt Apps</p>
</footer>
</body>
</html>
