<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestoHunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <nav>
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <a class="logo" href="/">
            <h2>RestoHunt</h2>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/amary21">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__effect">
            <div class="hero__inner">
                <h1 class="hero__title">Restaurant Hunter</h1>
                <p class="hero__tagline">Bosan makan malam itu-itu aja? Yuk cari restoran untuk menikmati makan malam anda</p>
            </div>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="explore">
                <h1 class="explore__label">Explore Restaurant</h1>
                <div class="posts">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - RestoHunt Apps</p>
    </footer>
</body>
</html>
