<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestoHunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="This website explains to find out what restaurants can be used as a place for dinner, 
        suitable for people having dinner with their lover">
</head>
<body>
    <header>
        <a href="#maincontent" class="skip-link">Skip to Content</a>
        <nav-bar></nav-bar>
    </header>
    <main></main>
    <footer>
        <p>Copyright © 2020 - RestoHunt Apps</p>
    </footer>
</body>
</html>
